@value makerWhite from "../../../../common/colors.css";
@value makerBlue from "../../../../common/colors.css";

.editor {
  margin: 2% 0;
}

.editorForm input {
  width: 50%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.584);
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  width: 50%;
  padding: 1%;
  transition: all 0.2s;
  cursor: pointer;
}

.submit {
  background-color: makerWhite;
}
.submit:hover {
  color: makerWhite;
  background-color: makerBlue;
}

.delete {
  background-color: #ccc;
}
.delete:hover {
  color: makerWhite;
  background-color: orange;
}
