@value makerWhite, makerBlue, makerLightGrey  from "../../common/colors.css";

.container {
  width: 100%;
}

.input {
  display: none;
}

.button {
  width: 100%;
  padding: 0.5em 0.7em;
  transition: all 0.3s;
  background-color: makerWhite;
  cursor: pointer;
}

.button:hover {
  background-color: makerBlue;
  color: makerWhite;
}
