@value makerWhite from "../../common/colors.css";
@value makerBlue from "../../common/colors.css";

.editor {
  margin-bottom: 2%;
}

.editorForm {
  display: flex;
  flex-wrap: wrap;
}

.input,
.select,
.message {
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.719);
  border: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.input {
  flex: 1 1 30%;
}

.select {
  flex: 1 1 20%;
}

.message {
  flex-basis: 100%;
  background-color: rgb(255, 255, 255);
  color: #444;
}

.buttons {
  flex: 1 1 30%;
}
