@value makerShadow from "../../common/colors.css";
@value makerColorful from "../../common/colors.css";

.loginBg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: makerColorful;
}

.login {
  width: 70%;
  max-width: 1000px;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: makerShadow;
}

.imgCon {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.753);
  padding: 5% 0;
}

.img {
  width: 100%;
  display: block;
}

.titleCon {
  width: 50%;
  text-align: center;
  padding: 5% 10%;
  background-color: #f0f4f5;
}

.greeting {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: bold;
  padding-left: 10%;
  display: block;
  color: rgba(49, 1, 126, 0.938);
}

.info {
  font-size: 1.1rem;
  color: #888;
  padding: 10% 0;
}

.buttons {
  padding-top: 10%;
}

.button {
  width: 100%;
  line-height: 2.5rem;
  background: makerColorful;
  margin-bottom: 1em;
  color: #fff;
  box-shadow: makerShadow;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.button::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.button:nth-child(1)::before {
  background: url(/public/img/google.png) no-repeat 50% / cover;
}

.button:nth-child(2)::before {
  background: url(/public/img/github.png) no-repeat 50% / cover;
}

.button:nth-child(3)::before {
  background: url(/public/img/facebook.png) no-repeat 50% / cover;
}
